@import "colors.css";

/*======= MODULE INDEPENDENT =======*/
#distro-group {
  margin: 4px 5px;
  background-color: @surface_container;
  border-radius: 20px;
  color: @primary;
}

#custom-distro {
  color: @primary;
  padding: 6px 15px 6px 10px;
}

/*======= MODULE CAPSUL =======*/
#audio,
#connections,
#system,
#storage,
#mpris {
  margin: 4px 5px;
  padding: 8px;
  background-color: @surface_container;
  border-radius: 20px;
  color: @secondary_fixed_dim;
}

#disk,
#memory,
#cpu,
#temperature,
#bluetooth {
  margin-right: 2px;
  padding: 0 8px;
}

#network {
  padding: 0px 10px 0px 4px;
}

#pulseaudio {
  margin-right: 12px;
  margin-left: 8px;
}

/*======= TRAY =======*/
#tray-group {
  margin: 4px 5px;
  background-color: @surface_container;
  border-radius: 20px;
}

#custom-tray-arrow {
  margin: 5px 5px;
  background-color: @surface_container;
  border-radius: 20px;
  padding: 6px 14px 6px 12px;
  color: @primary;
}

#tray {
  padding: 6px 10px;
}

#tray > .passive,
#tray > .active,
#tray > .needs-attention {
  -gtk-icon-effect: none;
}
