@import "colors.css";

#workspaces {
  margin: 4px 5px;
  padding: 6px 6px;
  background-color: @surface_container;
  border-radius: 20px;
  font-weight: 800;
}

#workspaces button {
  min-width: 32px;
  padding: 0 4px;
  margin: 0 0px;
  background: transparent;
  border-radius: 16px;
  color: @tertiary;
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#workspaces button:hover {
  box-shadow: none;
}

#workspaces button.active {
  padding: 0 12px;
  margin: 0 0px;
  background-color: @primary;
  color: @on_primary;
}
